
.palm-topbar-ictxbutton {
    position: relative;
    border-radius: 4px;
    border: 1px solid rgb(125, 125, 125);
    display: flex;
    flex-direction: row;
    height: 24px;
    margin: 4px 0px 4px 0px;
    cursor: pointer;
}



.palm-topbar-ictxbutton-icon {
    margin: 3px;
}

.palm-topbar-ictxbutton-icon > svg {
    fill: rgb(92, 92, 92);
}

.palm-topbar-ictxbutton-text {
    color: rgb(92, 92, 92);
    font-family: sans-serif, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 4px;
}


.palm-topbar-ictxbutton:hover {
    box-shadow: yellow 0px 0px 4px;
    background-color: #a6a69e;
}

.palm-topbar-ictxbutton:hover > .palm-topbar-ictxbutton-icon > svg {
    fill: rgb(234, 234, 173);
}

.palm-topbar-ictxbutton:hover > .palm-topbar-ictxbutton-text {
    color: rgb(234, 234, 173);
}


.palm-topbar-ictxbutton-tooltip {
    color: rgb(157, 145, 145);
    font-family: sans-serif, Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    width: 120px;
}