/*
* MENU bar style
*/




.paperstruct-columns {
  padding: 0px;
  margin: 0px 4px 0px 4px;
  display: flex;
  flex-direction: row;
}


.paperstruct-column {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 76px);
  overflow: auto;
  scrollbar-width: none;
}

.paperstruct-column-content {
  padding: 0px;
  margin: 4px 0px 4px 0px;
  display: flex;
  flex-direction: column;
}


.paperstruct-column_1d3 {
  width: 33.33vw;
}

.paperstruct-column_1d2 {
  width: 50vw;
}

.paperstruct-column_1d4 {
  width: 25vw;
}