/*
* MENU bar style
*/


.b2box {
  padding: 0px;
  margin: 4px;
  /* offset-x | offset-y | blur-radius | color */
  /*box-shadow: 0px 0px 4px black;*/
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  overflow: hidden;
  background-color: rgb(246 246 247);
}

.b2box:hover {

  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 0px 4px rgba(88, 79, 255, 0.582);
}


.b2box-header {
  font: 12px arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variant-caps: normal;
  text-align: left;
  padding: 4px 8px 4px 8px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.b2box-body {
  padding: 0px;
  margin: 0px;
}



.b2struct-columns {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
}


.b2struct-column {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 76px);
  overflow: auto;
  scrollbar-width: none;
}

.b2struct-column-content {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}


.b2struct-column_1d3 {
  width: 33.33vw;
}

.b2struct-column_1d2 {
  width: 50vw;
}

.b2struct-column_1d4 {
  width: 25vw;
}