

/*
* MENU bar style
*/


.palm-gsheader {
  padding: 0px;
  background: linear-gradient(0deg, rgb(232, 232, 232) 40%, rgb(248, 248, 248) 100%);
  position: relative;
  box-shadow: rgba(48, 42, 42, 0.36) 0px 2px 6px;
  z-index: 64;
}


.palm-gsbody {
  padding: 0px;
  margin: 0px;
  /* height: calc(100vh - 108px); */
  overflow: auto;
  background-color: white;
}

